.app-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: background-color $slow-transition, box-shadow $slow-transition;

  .is-expanded & {
    background-color: $white;
    box-shadow: $card-shadow;
  }
}

.app-title {
  @include ellipsis;
  flex: 1;
  font-size: $large-font-size;
  font-weight: 300;
  line-height: 22px;
}
