@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY($small-spacing);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY($base-spacing);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes drop-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY($base-spacing);
  }
}
