label {
  display: block;
}

#{$all-text-inputs} {
  background-color: transparent;
  border: 0;
  box-shadow: 0 2px $gray-1;
  box-sizing: border-box;
  color: $base-font-color;
  display: block;
  font-family: $base-font-family;
  font-size: $large-font-size;
  font-weight: 300;
  height: $large-spacing + $small-spacing;
  line-height: $large-spacing + $small-spacing;
  padding: 0;
  transition: box-shadow $slow-transition;
  width: 100%;

  &::placeholder {
    color: $base-font-color;
    font-weight: 300;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
